# Ambiente virtual
venv/
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
*.log

# Histórico gerado pela aplicação (opcional, mas recomendado)
historico/
*.json

# IDEs
.idea/
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
